@use 'sass:map';
@use './grid' as *;

@mixin media-up($name, $breakpoints: $breakpoints) {
  $value: map.get($breakpoints, $name);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin media-down($name, $breakpoints: $breakpoints) {
  $value: map.get($breakpoints, $name);

  @if $value {
    @media (max-width: ($value - 1)) {
      @content;
    }
  }
}

@mixin media-between($lower-name, $upper-name, $breakpoints: $breakpoints) {
	$min: map.get($breakpoints, $lower-name);
	$max: map.get($breakpoints, $upper-name);

	@if $min != null and $max != null {
		@media (min-width: $min) and (max-width: ($max - 1)) {
			@content;
		}
	}
}