// Include blocks.

@use './blocks/header.scss';
@use './blocks/footer.scss';

// Global styles.

*,
::before,
::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100vh;
}

body {
  margin: 0;
}

.page-layout {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;

  &__content {
		flex: 1 1 auto;
	}
}